.home-page {
  display: flex;
  /*width: 100%;*/
  padding: 1rem;
  gap: 0.5rem;
  height: 100%;
  min-height: calc(100vh - 150px);
}

.left-panel {
  flex: 0 0 70%;
  min-width: 0;
  background: white;
  border-radius: 16px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: fit-content;
  max-height: calc(100vh - 170px);
}

.right-panel {
  flex: 0 0 30%;
  min-width: 0;
  background: white;
  border-radius: 16px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: fit-content;
  max-height: calc(100vh - 170px);
}

@media (max-width: 1024px) {
  .home-page {
    flex-direction: column;
  }

  .left-panel,
  .right-panel {
    flex: 1;
    max-height: none;
  }
}

